@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.body{
    font-family: 'Roboto', sans-serif;
}
img#logo{
    width: 20%;
}

a.nav-link.active{
    color:#00843D;
}

.nav-link.active:hover{
    color:#74B02A;
}

a.nav-link{
    border-radius: 15px;   

}

#menu:hover{
    color: #ffff;
   
}


.volcan{
    background-image: url(./assets/images/volcan-turrialba.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

h1{
    padding-top: 8%;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.plan{
    padding-top: 5%;
}

.plan h4{
    color: #00843D;
    text-align: center;
}

.text-muted{
    color:#00843D !important;
    border: 5px;

}

#twitter,#facebook,#instagram{
    color: #00843D;
    font-size: 5vh;
}

button.btn{
    color: #ffffff;
    background-color: #00843D;
}


#fauna{
    background-image: url(./assets/images/armadillo.jpg);
}

#volcan{
    background-image: url(./assets/images/volcan-turrialba.jpg);
}



#comida{
    background-image: url(./assets/images/comida-campesina.jpg);
}

#aventura{
    background-image: url(./assets/images/aventura.jpg);
}

#volcan,#fauna,#aventura,#comida{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
    background-color:#0000;
    background-blend-mode: multiply;    width: 100%;
    height: 100vh;
    background-size: cover;
}

p.card-text{
    padding-top: 1%;
}

img.card-img-top{
    padding-bottom:5%;
    
}

h5.card-title{
    text-align:center;
    color: #383031;
}

div.row{
    margin-right: 3px;
    margin-left: 3px;
    padding-top: 30px;

}

img.card-img-top{
    width: 30%;

}

.plan{
    text-align: center;
    padding-top: 2%;
    align-items: center;
}

.plan h3{
    margin-top: 2%;
    color: #00843D;
}

.card{
    border: 3px solid #00843D;

}


button.carousel-control-next,.carousel-control-prev{
    margin-top: -300px;
}

div.carousel-indicators button{
  margin-top: -265px;
}

.carousel-caption h5{
    margin-top: -270px;
}


.form{
    border-width: 2px;
    border-color: #00843D;
    margin: 80px;
}


form{
    padding: 8%;
    flex: content;
    justify-content: center;
    background-color: #202124;
    margin-top: 5%;
}

form input{
    width: 100%;
}

input#exampleCheck1{
    padding-left: 1px;
}

label.form-label,.form-check-label{
    color:#ffffff
}

button{
    background-color: #00843D;
    color: #ffffff;
    border-radius: 5px;
    border-color: #00843D;
    display: flexbox;
    justify-content: center;
    padding: 10px;
}

.boton:hover{
    background-color: #74B02A;
    border-color: #74B02A;

}

.titulo{
    color: #ffffff;
    text-align: center;
}

#perfil{
    color: #00843D;
}


.list-group h3{
    text-align: center;
    color: #00843D;
    padding-top: 5%;
}

.list-group{
    list-style: none;
}

.list-group-item-action:hover{
    background-color: #00843D;
    color: #ffff;
}

.centro{
    float: right;
    padding: 3px;
    font-size: 12px;

}

.centro:hover{
    background-color: #202124;
    border-color: #202124;
}

.lista{
    list-style: none;

}

form.usuarios{
    color: #00843D;
}

.error{
    background-color: red;
}

h3.registro{
    color: white;
    background-color: #00843D;
    text-align: center;
    padding: 2%;
}

